html {
	background: url('../images/bg.png') top left repeat;
}
.container {
	margin: 20px auto;
}
.footer-container {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.wrapper {
	width: $wrapper-width;
	margin: 0 auto;
	overflow: hidden;
}

.game {
	position: relative;
	margin: 0 auto;
	width: 320px;
}